@media (max-width:1199px){
    .navbar-brand{
        max-width: 300px;
    }
    .navbar-brand img{
        width:100%;
    }
    .cstm_navbar ul li{
        margin-left: 30px;
    }

    .cstm_multi_dropdown.storage_guide_dropdown{
        right: -88px;
        width: 750px;
    }
    .cstm_multi_dropdown{
        top: 53px;
    }
}

@media (max-width:991px){
    .header_inner{
        padding: 0;
    }
    .cstm_navbar ul li{
        margin-left: 16px;
    }
    .cstm_navbar ul li a{
        font-size: 14px;
    }
    .navbar-brand{
        max-width: 220px;
    }
    .storage_card_wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .storage_card{
        width:30%;
        margin: 0 1% 30px;
    }
    .storage_card .content_ui p{
        width:100%;
        min-height:80px;
    }
    .main-footer .col-lg-3:last-child{
        margin-left: 0;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .main-footer .col-lg-3:nth-child(3) {
        margin-left: 0px;
        max-width: 33%;
        flex: 0 0 33%;
    }
    .self_storage_city .city_listing{
        padding: 0;
    }
    .banner_content_wrap {
        width: 390px;
        padding: 30px;
    }
    .banner_content_wrap h2 {
        font-size: 24px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .banner_content_wrap h3 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 20px;
    }
    .location_btn{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .banner_content_wrap p{
        padding: 0;
    }
}

@media (max-width:767px){
    .self_storage_city .city_listing{
        flex-wrap: wrap;
    }
    .self_storage_city .city_listing ul{
        width:50%;
        margin-bottom: 20px;
    }
    .cstm_navbar{
        opacity: 0;
        visibility: hidden;
        transition: 0.2s ease-in-out;
        position: fixed;
        left: -100%;
        width:100%;
        height:100%;
        top: 0;
        background: #fff;
        z-index: 99;
    }
    .cstm_multi_dropdown,
    .cstm_navbar > ul li:after{
        display: none;
    }
    .cstm_navbar > ul li a:before{
        position: absolute;
        content: "";
        background: url("../images/ic_arrow.svg") no-repeat;
        width: 9px;
        height: 16px;
        right:40px;
        top:50%;
        transform: translateY(-50%);
        background-size: 8px;
    }
    .cstm_navbar > ul li a{
        position: relative;
    }
    .cstm_navbar.active{
        opacity: 1;
        visibility: visible;
        transition: 0.2s ease-in-out;
        left: 0;
    }
    .cstm_navbar > ul li.active li{
        border: none;
    }
    .cstm_navbar > ul li li{
        border: none;
    }
    .cstm_navbar > ul li a[aria-expanded="true"]{
        font-size: 16px;
    }
    .cstm_navbar > ul li.active li a,
    .cstm_navbar > ul li li a{
        color: #000;
        background: #fff;
        border: none;
        font-weight: normal;
        font-size: 16px;
        padding: 4px 10px 4px 40px;
    }
    .cstm_navbar > ul li a[aria-expanded="true"]:before{
        background: url("../images/ic_arrow_white.svg") no-repeat;
        width:16px;
        height: 11px;
    }
    .cstm_navbar > ul li.no_drodpwon a:before{
        display: none;
    }
    .cstm_navbar > ul li.active li a:before,
    .cstm_navbar > ul li li a:before{
        background: none;
        left: 24px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        height: 1px;
        width: 6px;
        background: #000;
        
    }
    .cstm_navbar > ul{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 40px 0px;
    }
    .cstm_navbar > ul li{
        margin: 0;
        border-bottom:1px solid #dfdfdf;
        width:100%;
    }
    .cstm_navbar > ul li li:before{
        display: none;
    }
    .cstm_multi_dropdown li{
        margin: 0 !important;
    }
    .cstm_multi_dropdown{
        padding: 20px 12px;
        left:-90%;
    }
   
    .cstm_multi_dropdown li .right_sec label,
    .cstm_navbar ul li .cstm_multi_dropdown.storage_guide_dropdown li a{
        font-size: 14px;
        line-height: 25px;
        font-weight: 400;
        padding: 8px 0;
        display: flex;
    }
    .cstm_multi_dropdown.storage_guide_dropdown ul{
        border: none;
        max-width:100%;
    }
    .cstm_navbar > ul li.active .cstm_multi_dropdown{
       display: block;
       opacity: 1;
       visibility: visible;
       position: fixed;
       left: 0;
       top: 0;
       width:80%;
       height:100%;
       background: #fff;
       box-shadow: none;
    }
    .back_btn{
        display: inline-flex;
        align-items: center;
        color: #000 !important;
        opacity: 0.6;
        transition: 0.2s ease-in-out;
    }
    .back_btn{
        opacity: 0.8;
    }
    .back_btn .icon{
        margin-right: 6px;
        display:inline-flex;
    }
    .back_btn .icon img{ width:7px;}
    .cstm_multi_dropdown li .left_sec,
    .cstm_multi_dropdown li .right_sec p,
    .cstm_multi_dropdown li .right_sec .text_btn{
        display: none;
    }
    .cstm_multi_dropdown li .right_sec{
        width:100%;
        padding-left: 0;
    }
    .cstm_navbar > ul li a{
        color: #000;
        padding: 12px 52px 12px 16px;
        display: flex;
    }
    .cstm_navbar > ul li a[aria-expanded="true"]{
            background: #feb100;
            color: #fff;
            font-weight: 600;
    }
    .banner_content_wrap{
        width:100%;
    }
    .storage_unit_wrapper h4{
        font-size: 20px;
        line-height: 30px;
    }
    .main-footer .col-lg-3:nth-child(3){
        max-width: 100%;
        flex: 0 0 100%;
    }
    .navbar-brand{
        max-width: 160px;
    }
    .main-header{
        padding: 10px 0;
    }

    .mob_show{
        display: block;
    }
    .hover_content{
        display: none;
    }
    .ftr-content-inn.half_width{
        display: flex;
        align-self: flex-start;
    }
    .ftr-content-inn.half_width .contain{
        width:50%;
    }
    .ftr-content-inn.half_width .ftr-heading.mt-4{
        margin-top: 0 !important;
    }
    .ftr-link-list.pop-str-cites li {
        width: 48%;
        display: inline-flex;
    }

    .desktop_view{
        display: none;
    }
    .mobile_navbar{
        display: block;
    }

    .main-header.active{
        background: #fff;
    }

    .cstm_navbar{
        top: 60px;
    }
    .menu_btn.active span{
        background: #000;
    }
}

@media (max-width:599px){
    .storage_card{
        width:48%;
    }
    .location_btn{
        font-size: 14px;
    }
    .location_btn .icon{
        margin-right: 10px;
    }
    .banner_content_wrap{
        padding: 24px 20px;
    }
    .banner_content_wrap h2{
        font-size: 22px;
    }
    .banner_content_wrap h3{
        font-size: 18px;
    }
    .zipcode_wrap input{
        padding: 0 90px 0 20px;
        font-size: 14px;
    }
    .banner_content_wrap p{
        font-size: 16px;
        line-height: 22px;
    }
    .self_storage_city h4{
        font-size: 20px;
    }
    .about_sec p{
        font-size: 16px;
        line-height: 24px;
    }
    .about_sec h4{
        margin-bottom: 20px;
    }
    .ftr-content-inn .ftr-heading{
        margin-bottom: 10px;
    }
    .ftr-content-inn{
        margin-bottom: 20px;
    }
}

@media (max-width:400px){
    .storage_card{
        width:100%;
        margin-left: 0;
        margin-right: 0;
    }
}